---
layout: default
title : Teaching
navbar_title: Teaching
body_attr: >-
    data-spy="scroll" data-target="#navbar-year" data-offset="100"
---


<style>
    /* Make sure the container takes the full height */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    /* Center the image */
    .image-container {
        margin-top: auto;  /* Pushes the image to the bottom */
        text-align: center; /* Centers the image horizontally */
    }

    .image-container img {
        width: 75%; /* Adjust the width as needed */
        max-width: 800px; /* Maximum width for the image */
        height: auto; /* Maintains the aspect ratio */
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .subtitle {
    font-size: 1.8rem;      /* Adjust the size of the subtitle */
    color: #666666;         /* Gray text color */
    font-weight: 500;       /* Lighter weight for subtitle */
    margin-bottom: 1.5rem;  /* Space below subtitle */
    text-align: left;     /* Center the subtitle (optional) */
    }
</style>

<style>
  .institution-spacing {
    margin-bottom: 2rem; /* Adjust the spacing as needed */
  }
</style>

{% assign material_by_inst = site.teaching | sort: "institution" | group_by_exp: "item", "item.institution" %}
<!-- {% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %} -->

<!-- <pre>{{ material_by_inst | jsonify }}</pre> -->

<div class="row">
    <div class="col-12 mt-5">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="col-12 col-lg-10">
        {% for institution in material_by_inst %}
        <div class="institution-spacing"> <!-- Add spacing class here -->
          <h2 class="subtitle" id="institution-{{ institution.name }}">{{ institution.name }}</h2>
          <div class="my-0 p-0 bg-white shadow-sm rounded-sm spacing">
              {% for item in institution.items %}
                  {% include widgets/teaching_item.html item=item %}
              {% endfor %}
          </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-institution" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for institution in material_by_inst %}
            <a class="nav-link d-block" href="#institution-{{ institution.name }}">{{ institution.name }}</a>
            {% endfor %}
        </div>
    </div>

    <!-- Image at the bottom -->
    <div class="col-12 text-center mt-4">
        <div class="image-container">
            <img src="./assets/images/etc/teaching-wordle.png" alt="Your Image">
        </div>
    </div>
</div>